
@import url('https://fonts.googleapis.com/css2?family=Cossette+Titre:wght@400;700&family=Lavishly+Yours&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid blue; */
    user-select: none;
}

:root {
    --length-50p:50%;
    --length-100p:100%;
    --length-90p:90%;
    --length-500:500px;
    --length-200:200px;
    --length-100:100px;
    --length-150:150px;
    --length-50:50px;

    --fs-small:1em;
    --fs-medium:1.5em;
    --fs-large:2em;
    --fs-xlarge:5em;

}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  min-height: 100vh;
  font-family: 'Sora', sans-serif;
}

header {
  width: 100%;
  height: 70px;
  background-color: teal;
  color: white;
  flex-direction: row;
}

#nav {
  width: var(--length-50p);
  display: flex;
  justify-content: space-between;
}

#categoryList {
  flex-direction: row;
  list-style: none;
  gap: 15px;
  margin-top: 10px;
}

main {
  width: var(--length-50p);
  padding: 20px;

  > h1 {
    font-size: clamp(2rem, 5vw, 5rem) ;
  }
}

#categoryContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.categoryWrapper {
  height: var(--length-200);
  margin-top: 2rem;
  margin-inline: 1rem;
  position: relative;
  cursor: pointer;
  & img {
    height: inherit;
    aspect-ratio: 16 / 9;
    /* opacity: ; */
  }
  
  & h2 {
    padding-left: 20px;
    width: 100%;
    position: absolute;
    /* left: 20px; */
    bottom: 0;
    font-size: clamp(1rem, 3vw, 2rem);
    color: white;
    background: linear-gradient( rgba(0, 0, 0, 0.438) 70%, transparent);
  }
}